.online-users {
  width:100%;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
}

header {
  width: 100%;
  margin-top:2.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0,0,0,.2);
  padding: 10px;
}

.header__h1--header {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
}

.header__btn--header {
  background: linear-gradient(to top right, #0083B0, #00B4DB);
  color: white;
  border-radius: 25px;
  padding: 10px;
  border: none;
  font-size: 0.75em;
  font-weight: 500;
  cursor: pointer;
}

.header__btn--header:focus {
  outline: 0;
}

.collapsible {
  width: 100%;
  height: 100vh;
  overflow-y:scroll;
  transition: 0.5s ease-in-out;
}

.collapsible--hidden {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

@media screen and (min-width: 480px) {
  .online-users {
    width: 50%;
  }
}